<div>
<form (ngSubmit)="onSearchName()">
  <div class="form-group">
    <label for="searchonwiki">Wikipedia Search</label>
    <input class="form-control" id="wikiSearch" (input)="term$.next($event.target.value)" placeholder="search text here" name="wikiSearch" required [(ngModel)]="wikiSearch"/>
 
 <!-- <div class="container">
<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of items; index as i">
      <a href="{{links[i]}}">{{item}}</a>
  </li>
</ul>
</div> -->


  <button type="submit" class="btn btn-success">Giphy Search</button>
  <br>Results for :
<h1>{{wikiSearch}}</h1>

<div id="card-container" *ngFor="let item of result?.data">
  <div class="short" *ngIf=item.images.original.url>
    
      <img  src="{{item?.images.original.url}}">
   
  </div>
</div>
</div>
</form>


